<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name ="TestAll">

	<test name ="PageObjectModel">
		<classes>
			<class name = "com.clairvyont.PageObjectModel.TestLoginPage"></class>		
		</classes>		
	</test>
	<test name ="DataDrivenModel">
		<classes>
			<class name = "com.clairvyont.datadriven.DataDrivenTest"></class>
		</classes>	
	</test>
	<test name = "SeleniumAll">
		<classes>
			<class name= "com.clairvyont.automation.SeleniumAllFunctions"></class>
		</classes>
	
	</test>
	<test name = "jbehave">
		<classes>
			<class name = "com.clairvyont.jbehave.CountIncreaseTest"></class>
		</classes>
	</test>
	<test name = "cucumber">
		<classes>
			<class name = "com.clairvyont.cucumber.CountIncreaseCucumberTest"></class>
		</classes>
	
	</test>
</suite>